:root {
    --fs-normal: 1.125em;

    --fw-notmal: 400;
    --fw-bold: 500;
    --fw-xbold: 700;

    --primary-200: hsl(0, 0%, 17%);
    --primary-500: hsl(0, 0%, 59%);

    --size-mobile: 80em;
}

/* Box sizing rules */


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    font-size: var(--fs-normal);
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header {
    background-image: url("./images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1em;
}

header,main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 {
    color: white;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
    font-size: 1.5em;
}

.result-grid {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(4,1fr);
    z-index: 10;
    background-color: white;
    border: none;
    border-radius: 6px; 
}

.result-col {
    margin: 1em;
    padding: .5em;
    word-break: break-all;
}

.result-col:not(:last-child) {
    border-right: 2px solid black;
}



@media screen and (max-width: 31.25em) {
    header {
        background-image: url("./images//pattern-bg-mobile.png");
    }

    .result-grid {
        grid-template-columns: 1fr;
    }

    .result-col:not(:last-child){
        border-right: none;
    }
}